BASE_URL=http://localhost
WS_HOST=socket.localhost
WS_PORT=443
WS_APP_KEY=xxxxxxxxxxxxxxxx

# Gunakan Client ID tipe "Web application" dari Google Cloud Console
GOOGLE_WEB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com